/* MacBook Air - 1 */
/* 
position: relative;
width: 1280px;
height: 832px; */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:"LogoFont";
    src: url("../fonts/Negan\ DEMO.otf");
}
@font-face {
    font-family:"heroFont";
    src: url("../fonts/Quizlo\ DEMO.otf");
}
@font-face {
    font-family:"otherheroFont";
    src: url("../fonts/Nurma-Regular.otf");
}

:root{
    --logocolor:#ffff;
    --btnshade:#FFD2D2;
    --darkbtncolor:#FF9D9D;
}


html, body {
    min-height: 100%;
    margin: 0;
} 

body {
    background: linear-gradient(
        241deg,
        #FFB7B7 22%,
        #FFD2D2 47%,
        #FF9D9D 74%
    );
    background-attachment: fixed;
}


/* styling the navbar  */

.head{
    display: flex;
    align-items: center;
    gap: 330px;
    padding-left: 30px;
    padding-top: 20px;
}

.logo{
    font-family: "LogoFont",sans-serif;
    font-weight: 500;
    font-size: 2.4rem;
    color: var(--logocolor);

}



/* styling mobile view button */
.menu
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--logocolor);
    padding-right:7px ;
    padding-bottom: 6px;
    display: none;
    
}
.navlink{
    display: flex;
    align-items: center;
    gap: 36px;
    font-family: "lexend",sans-serif;
}

.navlink li {
    list-style-type: none;
}
.navlink a {
    text-decoration: none;
    color:var(--logocolor);
    font-size: 1.2rem;
}


.navbar{
    display: flex;
    gap: 160px;
}

.othernav{
    display: flex;
    gap: 40px;
    align-items: center;
}

#profile_img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border:4px solid rgb(255, 255, 255);
}

.search_input{
    width: 150px;
    height:40px;
    border: none;
    outline: none;
    border-radius:20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "lexend",sans-serif;
    font-size: 1.2rem;
}

.search_input::placeholder{
    font-size: 1.3rem;
    padding-left: 45px;
    font-weight: 400;
    color: #000000;
    position: relative;
    
}
.search_box:focus-within .serach_icon {
    display: none;
}
.search_box:focus-within .search_input::placeholder {
    opacity: 0;
}


.serach_icon{
    position: absolute;
    top: 35px;
    right: 225px;

}

/* styling cart icon  */



.cart{
    width: 50px;
    height: 50px;
    background-color: #ffff;
    color: #000000;
    border-radius: 50%;
    padding-top: 8px;
    padding-left: 10px;
}

/* styling the hero section  */

.hero{
    display: flex;
    gap: 100px;
}

.hero_intro{
    /* border: 2px solid red; */
    margin-left: 40px;
    padding-top: 50px;
}


.hero_title{
     font-family: "LogoFont",sans-serif;
    font-weight: 500;
    font-size: 3.7rem;
    color: var(--logocolor);
    position: absolute;
    margin-left:80px;
}

.hero_mini{
    font-family: "LogoFont",sans-serif;
    color: var(--logocolor);
    font-size: 1.8rem;
    margin-left: 190px;
    position: relative;
    top: 60px;
}

.txt{
    position: relative;
    top: 70px;
    width: 350px;
    font-size: 1.3rem;
    font-family: "lexend",sans-serif;
    text-align: center;
    color:var(--logocolor);   
}

.shop_now{
    position: relative;
    top: 100px;
    width: 300px;
    height: 80px;
    background-color:var(--btnshade);
    border: none;
    border-radius: 20px;
    font-family: "LogoFont",sans-serif;
    font-size: 2.3rem;
    padding-top: 10px;
    color: var(--logocolor);
    cursor: pointer;

}

.ratings{
    position: relative;
    top: 130px;
    left: 20px;
    width: 115px ;
    height: 115px;
    background-color: var(--btnshade);
    border-radius: 50%;  
    font-size: 2.6rem;  
    color: var(--logocolor);
    font-weight: 800;
    padding-top: 30px;
    padding-left: 10px;
    font-family: "lexend",sans-serif;
}


.txt1{
  position: relative;
    top: 110px;
    left: 20px;
    width: 120px;
    height: 35px;
    background-color: var(--btnshade);
    font-family: "lexend",sans-serif;
     font-size: 1.2rem;
     font-weight: 500;
     padding-left: 16px;
     padding-top: 5px;
     border-radius: 10px;
     color: var(--logocolor);

}



/* styling hero image  */

.hero_img{
    margin-top: 15px;
    width: 360px;
    height: 540px;
    border-top-left-radius:200px ;
    border-top-right-radius:200px;
    border: 8px solid var(--logocolor);
    position: absolute;
}

.buy_now_cont{
    position: relative;
    top:475px;
    left: -60px;
    width:470px;
    height: 90px;
    border-radius: 40px;
    background-color: var(--darkbtncolor);
    background-image: url("../Images/Rectangle98.png");
}

.buy_now{
    position: relative;
    top: 388px;
    left: 125px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: none;
    background-color: var(--logocolor);
    font-family: "heroFont",sans-serif;
    font-size: 1.1rem;
    cursor: pointer;
}

/* Ellipse 9 */

.user_ratings{
position:relative;
width: 130px;
height: 131px;
left: 280px;
top:150px;
border-radius: 50%;
background: rgba(255, 183, 183, 0.288);
backdrop-filter: blur(10px);
}

.rating_info{
    position:relative;
    top: 46px;
    left: 300px;
    font-family: "lexend",sans-serif;
    color: var(--logocolor);
   }

   .user_rate{
 font-size: 2.9rem;
 font-weight: 600;
   }

   .txt2{
    font-size: 1.1rem;
    padding-left: 20px;
   }

   .other_hero_info{
    position: relative;
    /* border: 2px solid red; */
    left: -30px;
   }


   .other_hero_title{
    position: relative;
    top: 30px;
    left: -130px;
    left: 300;
    font-family: "otherheroFont",sans-serif;
     font-size: 3.8rem;
     color: var(--logocolor);
     /* border: 2px solid red; */

   }


   .other_hero_title_mini{
     position: relative;
    top: 10px;
    left: 30px;
    left: 300;
    font-family: "heroFont",sans-serif;
     font-size: 3.6rem;
     color: var(--logocolor);
     /* border: 2px solid red; */
     width: 130px;
   }


   .demo_item_cont{
    position:absolute;
    top: 140px;
     /* border: 2px solid red; */

   }


   .item_image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
   }

   .demo_item{
    display: flex;
    align-items: center;
    font-family: "lexend",sans-serif;
    position:relative;
    gap: 20px;
    left: -120px;
   }

   .add_item{
    position: relative;
    top: 90px;
    left: -64px;
    color: var(--logocolor);
    width: 30px;
    height: 30px;
    z-index: 3;
    border-radius: 50%;
    border: none;
    background-color: var(--darkbtncolor);
   }

   .item_txt{
    color: var(--logocolor);
    font-size: 1.1rem;
   }

   .item_amout{
    font-weight: 700;
   }

   .other_txt2{
     position: relative;
    top: 210px;
    left: -40px;
    font-family: "otherheroFont",sans-serif;
     font-size: 2.4rem;
     color: var(--logocolor);
     /* border: 2px solid red; */

   }
   .other_txt3{
     position: relative;
    top: 220px;
    left: -60px;
    font-family: "otherheroFont",sans-serif;
     font-size: 1.5rem;
     color: var(--logocolor);
     /* border: 2px solid red; */
   }


   .profile1,
.profile2,
.profile3 {
  width: 50px;
  border-radius: 50px;
  height: 50px;
     position: relative;
    top: 240px;
}

.profile2 {
  position: relative;
  left: -14px;
}
.profile3 {
  position: relative;
  left: -25px;
}


/*  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _  */



/* responsiveness  */

/* smaller phones */

@media screen and (min-width: 393px) {
.head{
    /* border: 2px solid yellow; */
}

.navlink{
    display: none;
}

.logo{
    display: none;
}

.menu{
    display: block;
}


.cart{
    display: none;
}

.navbar{
    display: flex;
    gap: 40px;
}

.serach_icon{
    position: absolute;
    top: 30px;
    right: 218px;
}

#profile_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:4px solid rgb(255, 255, 255);
}

}

/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

/* Phones */
@media  (min-width: 430px) {
    .head{
    display: flex;
    width: 100%;
    align-items: center;
    /* gap: -10px; */
    padding-left: 30px;
    padding-top: 20px;
    /* border: 2px solid red; */
}

.navlink{
    display: none;
}

.logo{
    display: none;
}

.menu{
    display: block;
}


.cart{
    display: none;
}

.navbar{
    display: flex;
    gap: 50px;
}

.search_input{
    width: 230px;
    height:40px;
    border: none;
    outline: none;
    border-radius:20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "lexend",sans-serif;
    font-size: 1.2rem;
}

.search_input::placeholder{
    font-size: 1.3rem;
    padding-left: 79px;
    font-weight: 400;
    color: #000000;
    position: relative;
    
}

.serach_icon{
    position: absolute;
    top: 30px;
    right: 260px;
}



}

/* _  _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ __ _ _ _ _ _ _ _ __ _ _ _ _ _ _ __ _ _ _ _ _  _ __ _ _  _ */




/* Tablets */
/* smaller tablets */
@media (min-width: 558px) {
    .head{
    display: flex;
    align-items: center;
    /* gap: -10px; */
    padding-left: 30px;
    padding-top: 20px;
    /* border: 2px solid red; */
}

.navlink{
    display: none;
}

.logo{
    display: none;
}

.menu{
    display: block;
}


.cart{
    display: none;
}

.navbar{
    display: flex;
    gap: 60px;
}

.search_input{
    width: 300px;
    height:40px;
    border: none;
    outline: none;
    border-radius:20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "lexend",sans-serif;
    font-size: 1.2rem;
}

.search_input::placeholder{
    font-size: 1.3rem;
    padding-left: 115px;
    font-weight: 400;
    color: #000000;
    position: relative;
    
}

.serach_icon{
    position: absolute;
    top: 32px;
    right: 307px;
}







}
/* _ _ _ _ _ _ __ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

/* bigger tablets */

@media (min-width: 608px) {


 .head{
    display: flex;
    align-items: center;
    /* gap: -10px; */
    padding-left: 30px;
    padding-top: 20px;
    /* border: 2px solid rgb(255, 238, 0); */
}

.navlink{
    display: none;
}

.logo{
    display: none;
}

.menu{
    display: block;
}


.cart{
    display: none;
}

.navbar{
    display: flex;
    gap: 80px;
}

.search_input{
    width: 300px;
    height:40px;
    border: none;
    outline: none;
    border-radius:20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "lexend",sans-serif;
    font-size: 1.2rem;
}

.search_input::placeholder{
    font-size: 1.3rem;
    padding-left: 115px;
    font-weight: 400;
    color: #000000;
    position: relative;
    
}

.serach_icon{
    position: absolute;
    top: 30px;
    right: 330px;
}



}



/* _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ __ _ _ __ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ */

/* Small laptops */
@media (max-width: 1024px) {}

/* Desktops */
@media (min-width: 1280px) {

.head{
    display: flex;
    align-items: center;
    gap: 340px;
    padding-left: 30px;
    padding-top: 20px;
}


.navlink{
    display: flex;
}

.logo{
    display: block;
}

.menu{
    display: none;
}


.cart{
    display: block;
}

.navbar{
    display: flex;
    gap: 150px;
}

.search_input{
    width: 150px;
    height:40px;
    border: none;
    outline: none;
    border-radius:20px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: "lexend",sans-serif;
    font-size: 1.2rem;
}

.search_input::placeholder{
    font-size: 1.3rem;
    padding-left: 45px;
    font-weight: 400;
    color: #000000;
    position: relative;
    
}

.serach_icon{
    position: absolute;
    top: 30px;
    right: 214px;

}


}

/* Large screens */
@media (min-width: 1536px) {}
